@{
    ViewData["Title"] = "About Me";
}
<div class="page" id="About">
    <h2>SOBRE MIM</h2>
    <div class="about-me">
        <article>
            <video alt="Motion back-end Devguilherme" autoplay loop>
                <source src="@Url.Content("~/assets/videos/devguilherme-motion.mp4")">
            </video>
        </article>
        <div class="text-about-me">
            <p>
                Olá, sou Guilherme, um jovem Programador Full-Stack apaixonado por tecnologia.
                Comecei na Agroindústria e migrei para a tecnologia, completando um curso de Programação Full-Stack no SENAI. Agora, foco no desenvolvimento back-end, criando soluções digitais seguras e inovadoras. Sou apaixonado por aprender e conectar pessoas à tecnologia.
                Se você busca um site profissional, confira os <a asp-area="" asp-controller="Home" asp-action="Services">serviços que ofereço.</a>
            </p>
        </div>
    </div>
</div>
