@{
    ViewData["Title"] = "Início";
}
<div class="page" id="home">
    <div class="intro"> <!-- intro is used in top of site -->
        <h1><strong>GUILHERME</strong> BARBOSA <></h1>
        <div class="nav-icon">
            <a href="http://github.com/devguilherme-b" class="icon-item">
                <img src="assets/icons/For-home/github-icons8.png" alt="ícone do github" id="icon-github">
            </a>
            <a href="http://linkedin.com/in/devguilhermebarbosa" class="icon-item">
                <img src="assets/icons/For-home/linkedin-icons8.png" alt="ícone do github">
            </a>
            <a href="assets/docs/Currículo-Guilherme-Barbosa.pdf" download="Currículo - Dev Guilherme Barbosa" class="icon-item">
                <img src="assets/icons/For-home/baixar-currículo-icons8.png" alt="Ícone - baixar currículo">
            </a>
            <div class="profession">
                <p>Programador Full-Stack</p>
            </div>
        </div>
        <div class="details-profession text-center">
            <p>Que tipo de site você precisa?</p>
            <a asp-area="" asp-controller="Home" asp-action="About">Saber mais!</a>
        </div>
    </div>
</div>
