@{
    ViewData["Title"] = "Serviços";
}

<div class="page" id="Services">
    <div class="intro-services">
        <div class="intro-services-left">
            <h1>Criação de sites</h1>
            <p>
                Um sites não é apenas um endereço na internet; é a chave para transformar sua presença online em
                resultados reais. Descubra como podemos levar o seu negócio para o próximo nível.
            </p>
        </div>
    </div>
    <div class="header-card text-center">
        <p>Escolha o seu modelo:</p>
    </div>
    <div class="container-cards swiper">
        <div class="card-wrapper">
            <ul class="card-list swiper-wrapper">
                <li class="card-item swiper-slide">
                    <a href="#" class="card-link landing-page">
                        <h2 class="card-title">Landing Page</h2>
                        <p>Converta visitantes em clientes com estratégia.</p>
                        <button>Comece já</button>
                    </a>
                </li>
                <li class="card-item swiper-slide">
                    <a href="#" class="card-link institutional position-relative">
                        <div class="position-absolute top-0 start-0 translate-middle">
                            <h1>🔥</h1>
                        </div>
                        <h2 class="card-title">Institucional</h2>
                        <p>Mostre sua marca com profissionalismo e confiança.</p>
                        <button>Comece já</button>
                    </a>
                </li>
                <li class="card-item swiper-slide">
                    <a href="#" class="card-link virtual-store">
                        <h2 class="card-title">Loja virtual</h2>
                        <p>Venda online com segurança, eficiência e design personalizado.</p>
                        <button>Comece já</button>
                    </a>
                </li>
                <li class="card-item swiper-slide">
                    <a href="#" class="card-link portifolio">
                        <h2 class="card-title">Portifólio</h2>
                        <p>Exiba seus projetos e sua criatividade ao mundo.</p>
                        <button>Comece já</button>
                    </a>
                </li>
            </ul>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>