/* Estilo do cabeçalho/navbar */
header[b-o7zdej32dz], nav .container-fluid[b-o7zdej32dz]{
  background-color: #d95b43;
}

.photo-logo[b-o7zdej32dz]{
  width: 45px;
  height: 35px;
}



/* Página principal: */


/* Estilo global:*/
a[b-o7zdej32dz] {
  color: #d95b43;
  text-decoration: none;
}


/* Código original: */

a.navbar-brand[b-o7zdej32dz] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.btn-primary[b-o7zdej32dz] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-o7zdej32dz],
.nav-pills .show > .nav-link[b-o7zdej32dz] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-o7zdej32dz] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-o7zdej32dz] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-o7zdej32dz] {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy[b-o7zdej32dz] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-o7zdej32dz] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; 
  overflow-x: hidden;
}
